.root
{
    -fx-background-color: #90AFC5;
}
.button
{
    -fx-background-color: #2A3132;
}
.button
{
    -fx-text-fill: #E8E8DF;
}
.button:hover {
    -fx-text-fill: #763626;
}
.button:pressed {
    -fx-text-fill: #2A3132;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #763626;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #336B87;

}

.tab-pane .tab:selected
{
    -fx-background-color: #90AFC5;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #2A3132;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: #CDCDC0;
    -fx-border-color: #2A3132;
    -fx-background-insets: 1;
}
.table-view {
    -fx-border-color: #2A3132;
}

.progress-indicator {
    -fx-progress-color: #763626;
}
.list-view {
    -fx-border-color: #2A3132;
}